<nz-spin [nzSpinning]="salvando">
  <form [formGroup]="formulario" nz-form nzLayout="horizontal" nzNoColon>
    <nz-form-item>
      <nz-form-label nzFor="descricao" nzRequired nzSpan="4">Nome</nz-form-label>
      <nz-form-control nzErrorTip="Nome obrigatório" nzOffset="4">
        <input formControlName="descricao" nz-input placeholder="Nome" type="text"/>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-spin>

<div *nzModalFooter>
  <nz-button-group>
    <button (click)="handleFechar()" [nzLoading]="salvando" nz-button nzDanger>Cancelar</button>
    <button (click)="handleSalvar()" [nzLoading]="salvando" nz-button nzType="primary">Salvar</button>
  </nz-button-group>
</div>
