<div nz-row>
  <div nz-col>
    <legend>Editar perfil</legend>
  </div>
</div>
<nz-spin [nzSpinning]="salvando">
  <form (ngSubmit)="handleSalvar()" [formGroup]="formulario" nz-form nzNoColon>
    <nz-form-item style="justify-content: center;">
      <nz-avatar
        [nzIcon]="!(user$ | async) ? 'user' : null"
        [nzText]="!!(user$ | async) ? ((user$ | async).nome | letrasIniciais) : null"
        style="white-space: nowrap;" [nzSize]="50">
      </nz-avatar>
    </nz-form-item>
    <!-- Nome -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>
        Nome
      </nz-form-label>
      <nz-form-control [nzSpan]="12" nzErrorTip="Nome é obrigatório" nzHasFeedback>
        <input formControlName="nome" nz-input/>
      </nz-form-control>
    </nz-form-item>
    <!-- Data de nascimento -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>
        Data de Nascimento
      </nz-form-label>
      <nz-form-control [nzSpan]="12" nzErrorTip="Data de nascimento é obrigatória" nzHasFeedback>
        <nz-date-picker formControlName="dataNascimento" nzFormat="dd/MM/yyyy"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <!-- Usuário -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>
        Usuário
      </nz-form-label>
      <nz-form-control [nzErrorTip]="usernameTpl" [nzSpan]="12" nzHasFeedback nzValidatingTip="Validando...">
        <input formControlName="usuario" nz-input/>
        <ng-template #usernameTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Usuário é obrigatório
          </ng-container>
          <ng-container *ngIf="control.hasError('duplicated')">
            Usuário existente
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <!-- Email -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>
        E-mail
      </nz-form-label>
      <nz-form-control [nzErrorTip]="emailTpl" [nzSpan]="12" nzHasFeedback nzValidatingTip="Validando...">
        <input formControlName="email" nz-input/>
        <ng-template #emailTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            E-mail é obrigatório
          </ng-container>
          <ng-container *ngIf="control.hasError('duplicated')">
            E-mail existente
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
  </form>
  <nz-divider></nz-divider>
  <div style="float: right">
    <button (click)="handleSalvar()" nz-button nzType="primary">Salvar</button>
  </div>
</nz-spin>




