<div nz-row>
  <div nz-col>
    <legend>Tópicos de Fórum</legend>
  </div>
  <div *ngIf="!!(user$ | async)" nz-col style="margin-left: auto;">
    <button (click)="abrirModalTopicoForum()" nz-button nzType="primary"><i nz-icon nzType="plus"></i> Cadastrar Tópico
    </button>
  </div>
</div>
<div nz-row>
  <div nz-col>
    <strong>Tags: </strong>
    <nz-tag
      *ngFor="let tag of listaTags"
      nzMode="checkable"
      [nzChecked]="selectedTags.indexOf(tag.id) > -1"
      (nzCheckedChange)="handleChange($event, tag.id)"
    >
      {{ tag.nome }}
    </nz-tag>
  </div>
</div>
<nz-table
  #basicTable
  (nzPageIndexChange)="mudarInfoTabela($event)"
  (nzPageSizeChange)="mudarInfoTabela($event, true)"
  [(nzPageIndex)]="paginaAtual"
  [(nzPageSize)]="tamanhoPagina"
  [nzData]="conteudo"
  [nzFrontPagination]="false"
  [nzTotal]="totalElementos"
  [nzLoading]=""
  nzPaginationPosition="both"
  nzShowPagination
  nzShowSizeChanger
>
  <thead>
  <tr>
    <th>Tópico de Fórum</th>
    <th>Descrição</th>
    <th>Data de Criação</th>
    <th>Autor</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let topico of basicTable.data">
    <td>{{ topico.nome }}</td>
    <td [width]="600">{{ topico.descricao }}</td>
    <td>{{ topico.dataCriado | date: "dd/MM/yyyy HH:mm" }}</td>
    <td>{{topico.pessoaCadastro.nome}}</td>
    <td>
      <nz-button-group>
        <button (click)="abrirDuvidas(topico)" nz-button nz-tooltip="Ver dúvidas" nzType="primary"><i nz-icon
                                                                                                      nzType="eye"></i>
        </button>
        <button (click)="abrirModalTopicoForum(topico)" *ngIf="podeAlterar(topico, (user$ | async))" nz-button
                nz-tooltip="Editar" nzType="default"><i nz-icon nzType="edit"></i></button>
        <button (nzOnConfirm)="deletar(topico)" *ngIf="podeAlterar(topico, (user$ | async))" nz-button
                nz-popconfirm="Deseja realmente excluir?" nz-tooltip="Excluir" nzDanger><i
          nz-icon nzType="delete"></i></button>

        <button (click)="abrirModalDenuncia(topico)" *ngIf="(user$ | async)" nz-button nzType="text">
          <i nz-icon nz-tooltip="Denunciar" nzType="exclamation-circle"></i>
        </button>
        <button (click)="habilitarNotificacoes(topico)" *ngIf="(user$ | async)" nz-button nzType="text">
          <i nz-icon nz-tooltip="Habilitar Notificações" nzType="notification"></i>
        </button>
      </nz-button-group>
    </td>
  </tr>
  </tbody>
</nz-table>
