<nz-spin [nzSpinning]="salvando">
  <form [formGroup]="respostaForm" nz-form nzLayout="horizontal" nzNoColon>
    <nz-form-item>
      <nz-form-label nzFor="resposta" nzRequired nzSpan="4">Resposta</nz-form-label>
      <nz-form-control nzErrorTip="Resposta obrigatória" nzOffset="4">
        <textarea formControlName="resposta" nz-input placeholder="Resposta" rows="3"></textarea>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-spin>

<div *nzModalFooter>
  <nz-button-group>
    <button (click)="handleFechar()" nz-button nzDanger>Cancelar</button>
    <button *ngIf="acao == 'cadastrar'" (click)="handleCadastrar()" [nzLoading]="salvando" nz-button nzType="primary">Cadastrar</button>
    <button *ngIf="acao == 'editar'" (click)="handleEditar()" [nzLoading]="salvando" nz-button nzType="primary">Editar</button>
  </nz-button-group>
</div>
