<nz-spin [nzSpinning]="salvando">
  <form [formGroup]="duvidaForm" nz-form nzLayout="horizontal" nzNoColon>
    <nz-form-item>
      <nz-form-label nzFor="titulo" nzRequired nzSpan="4">Título</nz-form-label>
      <nz-form-control nzErrorTip="Título obrigatório" nzOffset="4">
        <input formControlName="nome" nz-input placeholder="Título" type="text"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="descricao" nzRequired nzSpan="4">Descrição</nz-form-label>
      <nz-form-control nzErrorTip="Descrição obrigatória" nzOffset="4">
        <textarea formControlName="descricao" nz-input placeholder="Descrição" rows="3"></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="tags" nzSpan="4">Tags</nz-form-label>
      <nz-form-control nzOffset="4">
        <nz-select
          [nzMaxTagCount]="3"
          [nzMaxTagPlaceholder]="tagPlaceHolder"
          formControlName="tags"
          nzMode="multiple"
          nzPlaceHolder="Selecione um item..."
          [(ngModel)]="tagsSelecionadas">
          <ng-template #tagPlaceHolder let-selectedList> e {{ selectedList.length }} mais selecionadas </ng-template>
          <nz-option *ngFor="let item of listaTags" [nzLabel]="item.nome" [nzValue]="item.id"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-spin>

<div *nzModalFooter>
  <nz-button-group>
    <button (click)="handleFechar()" nz-button nzDanger>Cancelar</button>
    <button (click)="handleCadastrar()" *ngIf="!duvida" [nzLoading]="salvando" nz-button nzType="primary">Cadastrar
    </button>
    <button (click)="handleEditar()" *ngIf="duvida" [nzLoading]="salvando" nz-button nzType="primary">Editar</button>
  </nz-button-group>
</div>
