<div class="login" nz-col>
  <nz-avatar
    [nzDropdownMenu]="login"
    [nzIcon]="!(user$ | async) ? 'user' : null"
    [nzText]="!!(user$ | async) ? ((user$ | async).nome | letrasIniciais) : null"
    class="pointer-click"
    nz-button nz-dropdown
    nzGap="0" nzPlacement="bottomRight" nzSize="large"
    nzTrigger="click" style="white-space: nowrap;"
  >
  </nz-avatar>
  <nz-dropdown-menu #login="nzDropdownMenu" class="login-form">
    <form (ngSubmit)="handleSubmit()" *ngIf="!(user$ | async)" [formGroup]="loginForm" nz-form>
      <nz-form-item class="field-form-margin field-transparent">
        <nz-form-control nzErrorTip="Por favor, digite seu usuário ou email">
          <nz-input-group nzPrefixIcon="user">
            <input formControlName="login" nz-input placeholder="Usuário ou E-mail" type="text"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="field-form-margin field-transparent">
        <nz-form-control nzErrorTip="Por favor, digite sua senha">
          <nz-input-group nzPrefixIcon="lock">
            <input formControlName="password" nz-input placeholder="Password" type="password"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <button class="login-form-button login-form-margin" nz-button nzType="primary">Entrar</button>
    </form>
    <button (click)="handleLogout()" *ngIf="!!(user$ | async)"
            class="login-form-button login-form-margin"
            nz-button nzDanger
    >
      <i nz-icon nzTheme="outline" nzType="logout"></i>Sair
    </button>
    <button
      (click)="abrirDrawerPessoaCadastro()"
      *ngIf="!(user$ | async)"
      class="login-form-button login-form-margin"
      nz-button
      nzType="text"
      style="color: white"
    >
      Cadastre-se
    </button>
  </nz-dropdown-menu>
</div>
