.login {
  margin-left: auto;
  padding-right: 24px;
}

.pointer-click {
  cursor: pointer;
}

.login-form-button {
  width: 100%;
}

.login-form {
  max-width: 300px;
}

.login-form-margin {
  margin-bottom: 0px;
}

.field-form-margin {
  margin-bottom: 12px;
}

.field-transparent {
  background-color: transparent;
  color: white;
}

::ng-deep {
  .ant-dropdown {
    border-radius: 5px;
    padding-top: 1px;
    background-color: #001529;
  }

  .ant-input-affix-wrapper {
    color: white;
    background-color: transparent;
    border: 0px;
  }

  .ant-form-item-has-error .ant-input, .ant-form-item-has-error .ant-input-affix-wrapper, .ant-form-item-has-error .ant-input:hover, .ant-form-item-has-error .ant-input-affix-wrapper:hover {
    background-color: transparent;
  }

}
