<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a>
        <img alt="logo" src="./assets/img/logo-sem-nome.png">
        <h1>Fórum do ProEIDI</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item routerLink="topico-forum"><i nz-icon nzType="question"></i><span>Tópicos de Fórum</span></li>
      <li nz-menu-item routerLink="perfil"><i nz-icon nzType="user"></i><span>Perfil</span></li>
      <li nz-menu-item routerLink="tags" *ngIf="podeVisualizar(user$ | async)"><i nz-icon nzType="tag"></i><span>Tags</span></li>
      <li (click)="logout()" *ngIf="!!(user$ | async)" nz-menu-item><i nz-icon nzType="logout"></i><span>Sair</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header" nz-row>
        <div nz-col>
          <span (click)="isCollapsed = !isCollapsed" class="header-trigger">
              <i [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
                 class="trigger"
                 nz-icon
              ></i>
          </span>
        </div>
        <div *ngIf="!!(user$ | async)" nz-col>
          <h2>Olá, <strong>{{(user$ | async).nome}}</strong></h2>
        </div>
        <div class="app-login" nz-col>
          <app-login></app-login>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
