<nz-spin [nzSpinning]="salvando">
  <form [formGroup]="denunciaForm" nz-form nzLayout="horizontal" nzNoColon>
    <nz-form-item>
      <nz-form-label nzFor="descricao" nzRequired nzSpan="6">Descrição</nz-form-label>
      <nz-form-control nzErrorTip="Descrição obrigatória" nzOffset="6">
        <textarea formControlName="descricao" nz-input placeholder="Descrição" rows="3"></textarea>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-spin>

<div *nzModalFooter>
  <nz-button-group>
    <button (click)="handleFechar()" nz-button nzDanger>Cancelar</button>
    <button (click)="handleCadastrar()" [nzLoading]="salvando" nz-button nzType="primary">Cadastrar</button>
  </nz-button-group>
</div>
