<div nz-row>
  <div nz-col>
    <nz-card>
      <nz-comment [nzAuthor]="duvida?.pessoaCadastro?.nome" [nzDatetime]="calcularIntervaloTempo(duvida?.dataCriado)">
        <nz-comment-content>
          <h3>{{duvida?.titulo}}</h3>
          <p>
            Descrição: {{duvida?.descricao}}
          </p>
        </nz-comment-content>
      </nz-comment>
    </nz-card>
  </div>
  <div style="margin-left: auto;">
    <a (click)="voltar()" nz-button nzType="secondary"> Voltar
    </a>
    <button (click)="abrirModalCadastrar(duvida)" nz-button nzType="primary"> Cadastrar Resposta
    </button>
  </div>
</div>

<nz-table
  #basicTable
  (nzPageIndexChange)="mudarInfoTabela($event)"
  (nzPageSizeChange)="mudarInfoTabela($event, true)"
  [(nzPageIndex)]="paginaAtual"
  [(nzPageSize)]="tamanhoPagina"
  [nzData]="conteudo"
  [nzFrontPagination]="false"
  [nzLoading]=""
  [nzTotal]="totalElementos"
  nzPaginationPosition="both"
  nzShowPagination
  nzShowSizeChanger
>
  <tbody>
  <tr *ngFor="let resposta of basicTable.data">
    <nz-comment *ngIf="duvida?.respostaCorreta?.id === resposta?.id" [nzAuthor]="resposta.pessoaCadastro?.nome"
                [nzDatetime]="calcularIntervaloTempo(resposta.dataCriado)" class="respondida">
      <nz-avatar nz-comment-avatar nzIcon="user"></nz-avatar>
      <nz-comment-content>
        <p>
          {{resposta.resposta}}
        </p>
      </nz-comment-content>

      <nz-comment-action *ngIf="(user$ | async)">
        <i (click)="like(resposta.id)" nz-icon nz-tooltip="Like" nzType="like"></i>
        <span class="count like">{{ resposta.likes }}</span>
      </nz-comment-action>

      <nz-comment-action *ngIf="(user$ | async)">
        <i (click)="dislike(resposta.id)" nz-icon nz-tooltip="Dislike" nzType="dislike"></i>
        <span class="count like">{{ resposta.dislikes }}</span>
      </nz-comment-action>

      <nz-comment-action *ngIf="podeAlterar(resposta, (user$ | async))">
        <button (click)="abrirModalEditar(resposta)" nz-button
                nzType="text">
          <i nz-icon nz-tooltip="Editar" nzType="edit"></i>
        </button>
      </nz-comment-action>

      <nz-comment-action *ngIf="podeAlterar(resposta, (user$ | async))">
        <button nz-button nzType="text">
          <i (nzOnConfirm)="deletar(resposta)" nz-icon nz-popconfirm="Deseja realmente excluir?" nz-tooltip="Excluir"
             nzType="delete"></i>
        </button>
      </nz-comment-action>


      <nz-comment-action>
        <button (click)="abrirModalDenuncia(resposta)" nz-button nzType="text">
          <i nz-icon nz-tooltip="Denunciar" nzType="exclamation-circle"></i>
        </button>
      </nz-comment-action>

      <nz-comment-action *ngIf="podeMarcarComoRespondida((user$ | async))">
        <button (click)="marcarComoRespondida(resposta)" nz-button
                nzType="text">
          <i nz-icon nz-tooltip="Marcar resposta como correta" nzType="check"></i>
        </button>
      </nz-comment-action>
    </nz-comment>
  </tr>
  <tr *ngFor="let resposta of basicTable.data">
    <nz-comment *ngIf="duvida?.respostaCorreta?.id !== resposta?.id "
                [nzAuthor]="resposta.pessoaCadastro?.nome" [nzDatetime]="calcularIntervaloTempo(resposta.dataCriado)">
      <nz-avatar nz-comment-avatar nzIcon="user"></nz-avatar>
      <nz-comment-content>
        <p>
          {{resposta.resposta}}
        </p>
      </nz-comment-content>

      <nz-comment-action *ngIf="(user$ | async)">
        <i (click)="like(resposta.id)" nz-icon nz-tooltip="Like" nzType="like"></i>
        <span class="count like">{{ resposta.likes }}</span>
      </nz-comment-action>

      <nz-comment-action *ngIf="(user$ | async)">
        <i (click)="dislike(resposta.id)" nz-icon nz-tooltip="Dislike" nzType="dislike"></i>
        <span class="count like">{{ resposta.dislikes }}</span>
      </nz-comment-action>

      <nz-comment-action *ngIf="podeAlterar(resposta, (user$ | async))">
        <button (click)="abrirModalEditar(resposta)" nz-button
                nzType="text">
          <i nz-icon nz-tooltip="Editar" nzType="edit"></i>
        </button>
      </nz-comment-action>

      <nz-comment-action *ngIf="podeAlterar(resposta, (user$ | async))">
        <button nz-button nzType="text">
          <i (nzOnConfirm)="deletar(resposta)" nz-icon nz-popconfirm="Deseja realmente excluir?" nz-tooltip="Excluir"
             nzType="delete"></i>
        </button>
      </nz-comment-action>


      <nz-comment-action>
        <button (click)="abrirModalDenuncia(resposta)" nz-button nzType="text">
          <i nz-icon nz-tooltip="Denunciar" nzType="exclamation-circle"></i>
        </button>
      </nz-comment-action>

      <nz-comment-action *ngIf="podeMarcarComoRespondida((user$ | async))">
        <button (click)="marcarComoRespondida(resposta)" nz-button
                nzType="text">
          <i nz-icon nz-tooltip="Marcar resposta como correta" nzType="check"></i>
        </button>
      </nz-comment-action>

    </nz-comment>
  </tr>
  </tbody>

</nz-table>
