<div nz-row>
  <div nz-col>
    <nz-card>
      <nz-comment [nzAuthor]="topico?.pessoaCadastro?.nome" [nzDatetime]="calcularIntervaloTempo(topico?.dataCriado)">
        <nz-comment-content>
          <h3>{{topico?.nome}}</h3>
          <p>
            Descrição: {{topico?.descricao}}
          </p>
        </nz-comment-content>
      </nz-comment>
    </nz-card>
  </div>
  <div style="margin-left: auto;">
    <a [routerLink]="['/topico-forum/']" nz-button nzType="secondary"> Voltar
    </a>
    <button (click)="abrirModalDuvida()" nz-button nzType="primary"> Cadastrar Dúvida
    </button>
  </div>
</div>
<div nz-row>
  <div nz-col>
    <strong>Tags: </strong>
    <nz-tag
      *ngFor="let tag of listaTags"
      nzMode="checkable"
      [nzChecked]="selectedTags.indexOf(tag.id) > -1"
      (nzCheckedChange)="handleChange($event, tag.id)"
    >
      {{ tag.nome }}
    </nz-tag>
  </div>
</div>
<nz-table
  #basicTable
  (nzPageIndexChange)="mudarInfoTabela($event)"
  (nzPageSizeChange)="mudarInfoTabela($event, true)"
  [(nzPageIndex)]="paginaAtual"
  [(nzPageSize)]="tamanhoPagina"
  [nzData]="conteudo"
  [nzFrontPagination]="false"
  [nzLoading]=""
  [nzTotal]="totalElementos"
  nzPaginationPosition="both"
  nzShowPagination
  nzShowSizeChanger
>
  <tbody>
  <tr *ngFor="let duvida of basicTable.data">
    <nz-comment [ngClass]="duvida?.respostaCorreta ? 'respondida' : ''" [nzAuthor]="duvida.pessoaCadastro?.nome"
                [nzDatetime]="calcularIntervaloTempo(duvida.dataCriado)">
      <nz-avatar nz-comment-avatar nzIcon="user"></nz-avatar>
      <nz-comment-content>
        <h3> {{duvida.titulo}}</h3>
        <p>
          {{duvida.descricao}}
        </p>
      </nz-comment-content>

      <button (click)="abrirModalDuvida(duvida)" *ngIf="podeAlterar(duvida, (user$ | async))" nz-button nzType="text">
        <i nz-icon nz-tooltip="Editar" nzType="edit"></i>
      </button>

      <button nz-button nzType="text">
        <i (nzOnConfirm)="deletar(duvida)" *ngIf="podeAlterar(duvida, (user$ | async))"
           nz-icon nz-popconfirm="Deseja realmente excluir?" nz-tooltip="Excluir" nzType="delete"></i>
      </button>

      <button (click)="abrirModalDenuncia(duvida)" *ngIf="(user$ | async)" nz-button nzType="text">
        <i nz-icon nz-tooltip="Denunciar" nzType="exclamation-circle"></i>
      </button>

      <button (click)="habilitarNotificacoes(duvida)" *ngIf="(user$ | async)" nz-button nzType="text">
        <i nz-icon nz-tooltip="Habilitar Notificações" nzType="notification"></i>
      </button>

      <button (click)="abrirResposta(duvida)" nz-button nzType="text">
        <i nz-icon nz-tooltip="Responder" nzType="send"></i>
      </button>
    </nz-comment>
  </tr>
  </tbody>

</nz-table>
