<div nz-row>
  <div nz-col>
    <legend>Tags</legend>
  </div>
  <div *ngIf="!!(user$ | async)" nz-col style="margin-left: auto;">
    <button (click)="abrirModalTag()" nz-button nzType="primary"><i nz-icon nzType="plus"></i> Cadastrar Tags
    </button>
  </div>
</div>
<nz-table
  #basicTable
  (nzPageIndexChange)="mudarInfoTabela($event)"
  (nzPageSizeChange)="mudarInfoTabela($event, true)"
  [(nzPageIndex)]="paginaAtual"
  [(nzPageSize)]="tamanhoPagina"
  [nzData]="conteudo"
  [nzFrontPagination]="false"
  [nzTotal]="totalElementos"
  [nzLoading]=""
  nzPaginationPosition="both"
  nzShowPagination
  nzShowSizeChanger
>
  <thead>
  <tr>
    <th>Descrição</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let tag of basicTable.data">
    <td>{{ tag.descricao }}</td>
    <td>
      <nz-button-group>
        <button (click)="abrirModalTag(tag)" *ngIf="podeVisualizar(user$ | async)" nz-button
                nz-tooltip="Editar" nzType="default"><i nz-icon nzType="edit"></i></button>
        <button (nzOnConfirm)="deletar(tag)" *ngIf="podeVisualizar(user$ | async)" nz-button
                nz-popconfirm="Deseja realmente excluir?" nz-tooltip="Excluir" nzDanger><i
          nz-icon nzType="delete"></i></button>
      </nz-button-group>
    </td>
  </tr>
  </tbody>
</nz-table>
