<nz-spin [nzSpinning]="salvando">
  <form (ngSubmit)="handleSalvar()" [formGroup]="formulario" nz-form nzNoColon>
    <!-- Nome -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>
        Nome
      </nz-form-label>
      <nz-form-control [nzSpan]="12" nzErrorTip="Nome é obrigatório" nzHasFeedback>
        <input formControlName="nome" nz-input/>
      </nz-form-control>
    </nz-form-item>
    <!-- Data de nascimento -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>
        Data de Nascimento
      </nz-form-label>
      <nz-form-control [nzSpan]="12" nzErrorTip="Data de nascimento é obrigatória" nzHasFeedback>
        <nz-date-picker formControlName="dataNascimento" nzFormat="dd/MM/yyyy"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <!-- Usuário -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>
        Usuário
      </nz-form-label>
      <nz-form-control [nzErrorTip]="usernameTpl" [nzSpan]="12" nzHasFeedback nzValidatingTip="Validando...">
        <input formControlName="usuario" nz-input/>
        <ng-template #usernameTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Usuário é obrigatório
          </ng-container>
          <ng-container *ngIf="control.hasError('duplicated')">
            Usuário existente
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <!-- Email -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>
        E-mail
      </nz-form-label>
      <nz-form-control [nzErrorTip]="emailTpl" [nzSpan]="12" nzHasFeedback nzValidatingTip="Validando...">
        <input formControlName="email" nz-input/>
        <ng-template #emailTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            E-mail é obrigatório
          </ng-container>
          <ng-container *ngIf="control.hasError('duplicated')">
            E-mail existente
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <!-- Senha -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Senha</nz-form-label>
      <nz-form-control [nzSpan]="12" nzErrorTip="Senha é obrigatória" nzHasFeedback>
        <input formControlName="senha" nz-input type="password"/>
      </nz-form-control>
    </nz-form-item>
  </form>
  <nz-divider></nz-divider>
  <div style="float: right">
    <button (click)="handleFechar()" nz-button style="margin-right: 8px;">Cancelar</button>
    <button (click)="handleSalvar()" nz-button nzType="primary">Salvar</button>
  </div>
</nz-spin>
